.user {
	background:linear-gradient(-45deg, rgba(246, 161, 161, 0.1), rgba(255, 255, 0, 0.2));
}
.customer {
	background:linear-gradient(-45deg, rgba(159, 245, 245, 0.1), rgba(255, 255, 0, 0.2));
}
.operator {
	background:linear-gradient(-45deg, rgba(128, 128, 128, 0.1), rgba(255, 255, 0, 0.2));
}