.fl_tw {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #1da1f3;
  font-size: 25px;
  text-decoration: none;
  }

.fl_tw:hover {
  color:#88daff;
  transition: .5s;
}

.fl_tw .twicon{
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 35px;
  line-height: 50px;
  vertical-align: middle;
  color: #FFF;
  background: #1da1f3;
}

.fl_tw .twicon .fa {
  line-height: 50px;
}

.modal {
  background-color:#fff;
  display:none;
  width:350px;
  padding:15px;
  text-align:left;
  border:2px solid #333;

  opacity:0.8;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
  background:url(/media/img/global/info.png) 0 50% no-repeat;
  margin:0px;
  padding:10px 0 10px 45px;
  border-bottom:1px solid #333;
  font-size:20px;
}