
.user_request {
	background:linear-gradient(-45deg, rgba(246, 161, 161, 0.1), rgba(255, 255, 0, 0.2));
}

.user_request:hover {
	background:linear-gradient(-45deg, rgba(246, 0, 0, 0.2), rgba(255, 161, 0, 0.2));
	border:2px solid rgba(255,0,0,0.3);

}
